// collaspe
.collapse-panel-custom-weighing-info {
    border-radius: 0 !important;
}

.ant-collapse>.ant-collapse-item >.ant-collapse-header {
    align-items: center;
}

.collapse-panel-custom-weighing-info>.ant-collapse-header {
    border-radius: 0 !important;
}

.collapse-panel-custom-weighing-info>.ant-collapse-content {
    border-radius: 0 !important;
}